<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="../../style.css">
</head>
<body>
<div>
  <h1>Defina o seu banco!</h1>
  <label> Banco
    <input type="text" id="bankValue">
  </label>
  <label> Conta
    <input type="text" id="accountValue">
  </label>
  <label> Sigla
    <input type="text" id="acronymValue">
  </label>
  <button onclick="saveAccount()">Salvar Conta</button>
</div>
<table>
  <tr>
    <th>Banco</th>
    <th>Conta</th>
    <th>Sigla</th>
  </tr>
  <tr>
    <td id="bankSave"></td>
    <td id="accountSave"></td>
    <td id="acronymSave"></td>
  </tr>
</table>


<script src="script.js" defer></script>
</body>