<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Defina sua sigla</title>
  <link rel="stylesheet" href="../../style.css">
</head>
<body>
<div>
  <h2>Defina sua sigla!</h2>
  <h3>Crie uma sigla para usar depois nos seus gastos.</h3>
  <form id="accountForm" onsubmit="saveBankAccount(event)">
    <label for="acronymValue">Sigla</label>
    <input type="text" id="acronymValue" placeholder="Digite a sigla" required>

    <label for="acronymValue">Descrição</label>
    <input type="text" id="descriptionValue" placeholder="Digite uma descrição" required>

    <button type="submit">Salvar</button>
  </form>
</div>

<table>
  <thead>
  <tr>
    <th>Sigla</th>
    <th>Descrição</th>
  </tr>
  </thead>
  <tbody id="bankAccountRow">
  </tbody>
</table>

<p id="errorMessage" style="color: red;"></p>

<script src="script.js" defer></script>
</body>
</html>